html {
	background: url(bg3.jpg);
	background-position: center;
}

img {
	height: 250px;
	width: 175px;
	border: none;
}

iframe {
	float: top;
	clear: both;
	background: white;
	height:250px; 
	width:175px;
	box-shadow: 6px 6px red;
}

div {
	display: inline;
	margin: 15px;
}

h3 {
	color: #00FFD7;
	font-family:'Montserrat Alternates', sans-serif;
	font-size: 20px;
	text-align: center;
}

form {

}