<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body> 
<form class="tear" method="post" action="/delete/<%= @post_id %>"> 
    <input type="hidden" value="delete">
    <button type="submit">Tear Down</button>
</form>
</body>
</html>