<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="post" action="/delete/<%= @post_id %>"> 
    <input type="hidden" value="delete">
    <button type="submit">Update</button>
</form>
</body>
</html>