<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h3>Welcome to OurWall! What neighborhood do you live in?</h3>

<form action="/login" method="post"/>
	<input type="text" placeholder="password" name="password"/>
<select name="neighborhoodlist">
<option value ="Bloomingdale">Bloomingdale</option>
<option value ="Brookland">Brookland</option>
<option value ="Shaw">Shaw</option>
<option value ="Adams Morgan">Adams Morgan</option>
<input type="submit" value="Submit"/>
</select>
</form>

</body>
</html>