<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'>
	<LINK REL=StyleSheet HREF="style.css" TYPE="text/css">
	<title>Welcome to OurWall</title>
</head>
<body>
<%= yield %>
</body>
</html>