<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<% @post.each do |post| %>
			
				<img class ="image" src="<%= post.image %>">
		<% end %>


<iframe src="/prelogin" width="300" height="300">
</body>
</html>